<a href="https://colab.research.google.com/github/dukalee/10_Weeks_of_Python/blob/main/Week_02/01_String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Strings

파이썬에서 문자열은 4가지 방법으로 표현할 수 있습니다:
* '' (홀따옴표)
* "" (쌍따옴표)
* ''' ''' (홀따옴표 x3)
* """ """ (쌍따옴표 x3

이 중 triple quote (홀따옴표 x3, 쌍따옴표 x3)은 코드를 주석처리를 할때에도 활용이 가능합니다.

파이썬에는 C와 같이 character(문자형) 데이터가 따로 존재하지 않습니다.

In [ ]:
'''tripe quotes creates comments'''

변수에 저장하게 되거나 출력하게 되면 문자열 데이터로 인식하게 됩니다.
* triple quote를 활용한 문자열은 키보드로 입력한 엔터('\n'), 탭('\t'), 스페이스 (' ')등이 모두 고스란히 들어간 채로 인식합니다.

In [2]:
triple_quotes = """enter here
  tab here
       spaces here"""

print(triple_quotes)

enter here
  tab here
       spaces here

#### String Operations
문자열에는 2가지 연산이 가능합니다. 
- <b>+</b> : 문자열에 문자열 결합
- <b>*</b> : 문자열을 n번 반복

In [3]:
string = "hello"
print(string + string)

hellohello

In [4]:
print(string * 3)

hellohellohello

TypeError를 발생시키는 연산은 불가능합니다.

In [ ]:
print(string + 3) # 문자열 + 정수는 불가능

TypeError: must be str, not int

In [ ]:
print(string * "this many times") # 문자열 * 문자열은 불가능

TypeError: can't multiply sequence by non-int of type 'str'

#### Sequence

문자열, 리스트, 튜플은 모두 시퀀스 데이터입니다.

파이썬에서 시퀀스 데이터는 모두 indexing과 slicing이 가능합니다.
- <code>indexing</code> : 순번(위치)로 객체의 멤버를 반환하는 것.
- <code>slicing</code> : 객체의 멤버들을 부분으로 잘라 반환하는 것.

In [5]:
string = "SEQUENCE"
print(string[0])  # string객체의 가장 0번째 (가장 처음 멤버) 접근 (indexing)

S

In [6]:
print(string[0:4]) # string객체의 0번째부터 4번째 멤버 전 (3번째 멤버) 까지 부분으로 잘라서 반환 (slicing)

SEQU

#### Immutable Data

파이썬에서 문자열과 튜플은 불변의 데이터입니다. 

* immutable 데이터는 멤버의 요소가 변할 수 없습니다.

In [ ]:
string = "yello"
string[0] = "h" # 불변의 데이터는 요소/멤버의 변경이 불가능
print(string)

TypeError: 'str' object does not support item assignment

위와 같이 문자를 변경하고 싶을 떄에는 새로운 문자을 만들어 주어야 합니다.

In [ ]:
string = "yello"
new_string = 'h' + string[1:] # slicing
print(new_string)

hello

#### String Methods
문자열 객체가 활용할 수 있는 명령어(method)는 다음과 같습니다.

##### Casing
- <code>str.upper()</code> : 전체를 대문자(uppercase)로 변환
- <code>str.lower()</code> : 전체를 소문자(lowercase)로 변환
- <code>str.title()</code> : 첫 문자 + 공백 이후의 모든 첫 문자를 대문자로 변환 (나머지는 소문자)
- <code>str.capitalize()</code> : 첫 문자를 대문자로 변환 (나머지는 소문자)

In [ ]:
string = "this is python"
print(string.upper())

THIS IS PYTHON

In [ ]:
print(string.lower())

this is python

In [ ]:
print(string.title())

This Is Python

In [ ]:
print(string.capitalize())

This is python

##### Validation
- <code>str.isalpha()</code> : 알파벳 (a-z, A-Z)로만 구성되어있는지 확인 
- <code>str.isdigit()</code> : 숫자 (0-9)로만 구성되어있는지 확인
- <code>str.isalnum()</code> : alphanumeric, 숫자 또는 알파벳으로만 구성되어있는지 확인
- <code>str.islower()</code> : 소문자 (알파벳)으로만 구성되어있는지 확인
- <code>str.isupper()</code> : 대문자 (알파벳)으로만 구성되어있는지 확인

In [ ]:
alpha_true_ex = "abc"
alpha_false_ex = '123' # 알파벳으로만 구성되어있지 않음

print(alpha_true_ex.isalpha())
print(alpha_false_ex.isalpha())

True
False

In [ ]:
digit_true_ex = '123'
digit_false_ex = '123$' # 특수문자가 포함되어있음

print(digit_true_ex.isdigit())
print(digit_false_ex.isdigit())

True
False

In [ ]:
alnum_true_ex = '123abc'
alnum_false_ex = '123$bac' # 특수문자가 포함되어있음

print(alnum_true_ex.isalnum())
print(alnum_false_ex.isalnum())

True
False

In [ ]:
lower_true_ex = '123abc' # lower의 경우 숫자는 대소문자 구분이 없기 때문에, 무시하고 True를 반환함 (알파벳만 확인)
lower_false_ex = '123ABC' 

print(lower_true_ex.islower())
print(lower_false_ex.islower())

True
False

In [ ]:
upper_true_ex = '123ABC'
upper_false_ex = '123abc' 

print(lower_true_ex.isupper())
print(lower_false_ex.isupper())

False
True

##### Other Methods
- <code>str.find(x)</code> : x가 문자열의 어느 위치에 있는지 index를 반환합니다. 만약 찾을수 없다면 -1을 반환하며, 가장 먼저 찾은 위치를 반환합니다.
- <code>str.count(x)</code> : x가 문자열에 몇번이나 사용되었는지 개수를 반환합니다.
- <code>str.split(delimiter)</code> : 문자열을 delimiter를 기준으로 분리하여 리스트의 형태로 반환합니다.
- <code>str.strip()</code> : 문자열의 좌우 공백(whitespace)를 제거합니다.
- <code>str.replace(x, y)</code> : 문자열의 모든 x를 y로 대체합니다.

In [ ]:
string = "abracadabra"
print(string.find('a')) # 가장 먼저 찾은 'a' 반환
print(string.find('z')) # 'z'는 존재하지 않음으로 -1 반환

0
-1

In [ ]:
print(string.count('a'))
print(string.count('ra')) # 문자 하나가 아닌 단어 자체를 찾아볼 수도 있습니다

5
2

In [ ]:
str1 = "this is split method"
str2 = 'abracadabra'

print(str1.split())    # default는 공백을 기준으로 자름
print(str2.split('b')) # 옵션에 어디를 기준으로 자를것인지 정의

['this', 'is', 'split', 'method']
['a', 'racada', 'ra']

In [ ]:
string = '               word with whitespaces                '
print("this is" + string)
print("now the whitespace are gone " + string.strip())

this is               word with whitespaces
now the whitespace are gone word with whitespaces

In [ ]:
statement = "we are learning C language. C is the best language in the world"
statement = statement.replace('C', "Python") # 문자열의 모든 'C'를 'Python'으로 대체
print(statement)

we are learning Python language. Python is the best language in the world