<a href="https://colab.research.google.com/github/dukalee/10_Weeks_of_Python/blob/main/Week_02/02_List_and_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### List
리스트는 다량의 값/데이터를 담을수 있는 데이터입니다.
* 파이썬에서 리스트는 대괄호 [] 로 표현합니다.

In [ ]:
alist = [] # 비어있는 리스트
print(type(alist))
print(alist)

<class 'list'>
[]

list()를 활용하여 비어있는 리스트를 생성할 수 있습니다.
* str(), int()와 같이 list()는 다른 iterable 데이터를 리스트로 변환시킬 수 있습니다.

iterable은 리스트, 튜플, 문자열과 같이 "여러 요소/멤버들"을 가지고 있는 데이터를 의미합니다.

In [ ]:
blist = list()
print(type(list))
print(blist)

<class 'type'>
[]

파이썬에서의 리스트는 C의 array와는 달리, 데이터 타입에 한정되지 않고, 여러 데이터를 섞어 포함시킬 수 있습니다.

In [ ]:
alist = [1, 3.3, 'python', True]
print(alist)

[1, 3.3, 'python', True]

#### List Operations
리스트는 두가지 연산이 가능합니다 : 
- <b>+</b> : 리스트와 리스트를 결합하여 새로운 리스트로 반환합니다.
- <b>*</b> : 리스트의 항목들을 뒤에 n번 반복해서 결합합니다.

In [ ]:
alist = [1, 2, 3]
blist = [4, 5, 6]
print(alist + blist) # [1, 2, 3] 과 [4, 5, 6]의 항목을 합하여 새로운 리스트로 결합

[1, 2, 3, 4, 5, 6]

In [ ]:
print(alist * 3) # [1, 2, 3]을 3번 반복해서 결합

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### Sequence
문자열, 리스트, 튜플은 모두 시퀀스 데이터입니다.

시퀀스 데이터는 공통적으로 두가지가 가능합니다:
- <code>indexing</code> : 순번(위치)로 객체의 멤버를 반환하는 것.
- <code>slciing </code> : 객체의 멤버들을 부분으로 잘라 반환하는 것.

##### Indexing
indexing은 순번으로 리스트 (시퀀스 데이터)의 항목들을 반환합니다. 컴퓨터에서 순번은 0 부터 시작합니다. <br>
아래 리스트에서 첫번째 항목인 1을 꺼내오고 싶다면, 0번째 항목에 indexing을 통하여 접근하면 됩니다. n위치의 아이템을 접근하기 위해서는:

- <code>sequence[n]</code>

처럼 indexing을 하여 접근할 수 있습니다.

In [ ]:
alist = [1, 3.3, 'python', True]
print(alist[0])

1

물론 그 값을 반환(return)하기 때문에, 변수에 저장할 수도 있습니다.

In [ ]:
alist = [1, 3.3, 'python', True]
a = alist[2] # 'python'을 a에 저장
print(a)

python

파이썬에는 indexing에 특별한 기능이 있습니다. 왼쪽부터 접근할때에는 0부터 오름차순으로 index를 높여가지만, <br><code>반대쪽에서부터 접근할시에는 -1부터 내림차순으로 접근</code>할 수 있게 되어있습니다. 그러므로 맨 마지막 항목을 접근할 때에는 <code>sequence[-1]</code>로 접근할 수 있습니다.

In [ ]:
alist = [1, 3.3, 'python', True]
print(alist[-1]) # 맨 마지막 항목 접근
print(alist[-3]) # 맨 뒤에서 3번째 항목 접근

True
3.3

##### Slicing
슬라이싱은 말 그대로 '자른다'라는 것을 의미하듯이, <code>sequence 데이터의 일부분을 자른후 그 부분을 통채로 리스트의 형태로 반환</code>합니다.<br>
슬라이싱은 <code>range()</code>함수와 비슷한 방법으로 사용되는데, 아래와 같이 활용할 수 있습니다.

- <code>sequence[start:end]</code>
    - start부터 end 전까지의 항목들을 잘라서 반환
- <code>sequence[start:end:step]</code>
    - start부터 end전까지의 항목들을 step 간격으로 잘라서 반환 
    
예를 들어 아래의 리스트를 반으로 자를려면 0번부터 1번까지의 항목을 잘라내야 합니다. 그렇다면:
- start : 0
- end : 2 (end의 전 항목까지만 포함될 것이기 때문에)

로 slicing을 해주면 됩니다.

In [ ]:
alist = [1, 3.3, 'python', True]
print(alist[0:2])

[1, 3.3]

step이 추가되면 간격을 지정할 수 있습니다.

In [ ]:
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(n_list[0:10:3]) # 0번부터 마지막까지 3개 간격으로 잘라서 반환

[1, 4, 7, 10]

만약에 start가 처음부터이고, end가 마지막 항목까지 갈 것이라면 넣어주어야 하는 시작/끝 점의 숫자를 누락시켜도 괜찮습니다.

In [ ]:
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(n_list[:])  # 처음부터 끝까지
print(n_list[:5]) # 처음부터 4번까지 
print(n_list[5:]) # 5번부터 끝까지

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

#### Mutable Data
리스트는 mutable data로서, 변환이 가능한 데이터입니다. 
* 즉, 리스트의 요소들이 변경될 수 있습니다.
* 리스트의 요소등에 접근하여 = (할당)을 통해 멤버를 교체할 수 있습니다.

In [ ]:
alist = [1, 3.3, 'python', True]
alist[2] = 'C++' # 2번을 C++로 재대입
print(alist)

[1, 3.3, 'C++', True]

In [ ]:
alist = [1, 3.3, 'python', True]
alist[:2] = [2, 3, 4] # 일부분을 떼어내고 나머지 부분과 결합
print(alist)

[2, 3, 4, 'python', True]

#### Type Casting
모든 iterable 데이터는 list() casting 함수를 통해 리스트로 변환시킬 수 있습니다.
- string, tuple, set, dictionary등....

In [ ]:
b = list("hello") # string객체를 리스트로 변환 
print(b)

['h', 'e', 'l', 'l', 'o']

In [ ]:
c = list({1 : 'a', 2: 'b'}) #dictionary 객체를 리스트로 변환 -> key값만 변환됨 
print(c)

[1, 2]

#### List Methods
파이썬에는 리스트 객체가 할수 있는 여러가지 기능이 구현되어 있습니다. 
- <code>list.append(item)</code> : item을 리스트에 추가
- <code>list.insert(index, item)</code> : 리스트의 index에 item을 추가
- <code>list.index(item)</code> : item이 몇번째 index에 있는지 확인, 없으면 에러 발생
- <code>list.remove(item)</code> : item을 리스트에서 제거, item이 없으면 에러 발생
- <code>list.pop(index)</code> : index위치의 아이템을 제거 및 반환(return). index명시하지 않을 시 default 로 마지막것을 빼냄
- <code>list.sort()</code> : 리스트를 정렬 (정수 + 실수형, 또는 문자열형으로 통일된 데이터만 가능) 
- <code>list.reverse()</code> : 리스트 뒤집기 (마지막이 처음으로)

In [ ]:
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n_list.append("HELLO") # 리스트의 맨 마지막에 HELLO 추가
print(n_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'HELLO']

In [ ]:
n_list = [1, 2, 3, 4, 6, 7, 8, 9, 10]
n_list.insert(4, 5) # 4번째 index 5를 추가 
print(n_list)       # 아래의 결과처럼 덮어씌워지는것이 아닌, 삽입을 하고 뒤의 항목들은 index가 하나씩 밀려나게 됨

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
alist = [1, 3.3, 'python', True]
print(alist.index(3.3)) # 3.3은 몇번째 index에 있는가? 
language = alist.index('python') # index 메소드는 위와 다르게 무언가를 반환(return)함으로, 변수에 저장 가능
print(language)

1
2

In [ ]:
alist = [1, 3.3, 'python', True]
alist.remove('python') # 리스트에서 'python' 제거
print(alist)

alist.remove(4) # 4가 없음으로 에러 발생
print(alist)

[1, 3.3, True]

ValueError: list.remove(x): x not in list

In [ ]:
alist = [1, 3.3, 'python', True]
item = alist.pop() # 맨 마지막 항목 (True)를 빼내서 item에 저장
print(item)  # remove와는 달리 빼낸 항목을 저장할 수 있고
print(alist) # 리스트에서는 사라지는 것을 볼 수 있음.

item2 = alist.pop(1) # index를 명시해주면 index 위치의 item을 빼냄
print(item2) 
print(alist)

True
[1, 3.3, 'python']
3.3
[1, 'python']

In [ ]:
a = [1, 3, 5, 2, 4]
b = [3.3, 8.9, 1, 1000]
c = ['e', 'b', 'd', 'a', 'c']
d = [3.3, 'e', 'c', 3]

a.sort()
print(a) # 정수형만 포함된 데이터는 정렬 가능

b.sort()
print(b) # 정수, 실수 혼합의 숫자형 데이터는 정렬 가능 

c.sort()
print(c) # 문자열로만 구성된 데이터 역시 unicode값으로 정렬 가능

d.sort()
print(d) # 문자열, 숫자형 혼합 데이터는 정렬 불가능

[1, 2, 3, 4, 5]
[1, 3.3, 8.9, 1000]
['a', 'b', 'c', 'd', 'e']

TypeError: '<' not supported between instances of 'str' and 'float'

<code>reverse = True</code> 옵션으로 내림차순으로 정렬이 가능합니다.

In [ ]:
a = [1, 3, 5, 2, 4]
a.sort(reverse = True) # 내림차순 정렬
print(a)

[5, 4, 3, 2, 1]

In [ ]:
alist = [1, 3.3, 'python', True]
alist.reverse() # 뒤집기
print(alist)

[True, 'python', 3.3, 1]

### Tuple

튜플은 리스트와 같은 다수의 데이터를 담을 수 있는 데이터입니다.
* 리스트는 mutable 객체인 반면에, 튜플은 변할 수 없는 immutable 객체입니다.
* 튜플은 변형에 관련된 지원하는 내장 명령어가 하나도 없습니다.
* 튜플은 파이썬에서 소괄호 ()로 표현합니다.

In [1]:
atuple = ()
print(type(atuple)) # 비어있는 튜플
print(atuple)

<class 'tuple'>
()

tuple()을 활용하여 비어있는 튜플을 생성할 수 있습니다.
* str(), int()와 같이 tuple()는 다른 iterable 데이터를 리스트로 변환시킬 수 있습니다.

iterable은 리스트, 튜플, 문자열과 같이 "여러 요소/멤버들"을 가지고 있는 데이터를 의미합니다.

In [3]:
btuple = tuple()
clist = [1, 2, 3, 4, 5]
print(type(btuple))
print(btuple)
print(tuple(clist), type(tuple(clist)))

<class 'tuple'>
()
(1, 2, 3, 4, 5) <class 'tuple'>

"단 하나의 요소"를 담긴 튜플을 만들 때에는 ,(쉼표)를 넣어주어야 합니다.
* (1)은 괄호 안에 있는 정수로 판단하기 떄문입니다.

In [4]:
a = (1)
b = (1,)
print(a, type(a))
print(b, type(b))

1 <class 'int'>
(1,) <class 'tuple'>

#### Tuple Operations
튜플도 리스트와 같이 두가지 연산이 가능합니다: 
- <strong>+</strong> : 튜플과 튜플을 결합하여 새로운 튜플로 반환합니다.
- <strong>*</strong> : 튜플의 항목을 뒤에 n번 반복하여 결합합니다.

In [5]:
atuple = (1, 2, 3)
btuple = (4, 5, 6)
conc_tuple = atuple + btuple # (1, 2, 3)의 항목과 (4, 5, 6)항목을 결합하여 새로운 튜플로 생성
print(conc_tuple)

(1, 2, 3, 4, 5, 6)

In [6]:
atuple = atuple * 3 # (1, 2, 3) 항목을 3번 반복해서 결합
print(atuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

#### Sequence
리스트와 동일하게 indexing과 slicing이 가능합니다.
- <code>indexing</code> : 순번(위치)로 객체의 멤버를 반환하는 것.
- <code>slicing </code> : 객체의 멤버들을 부분으로 잘라 반환하는 것.

In [7]:
atuple = (1, 2, 3, 4, 5)
print(atuple[0]) # 0번째 항목 반환 
print(atuple[4]) # 4번째 항목 반환

1
5

In [8]:
print(atuple[:3]) # 0번째부터 2번째 항목까지 잘라서 반환

(1, 2, 3)

#### Immutable Data

불변의 데이터는 요소가 변할 수 없습니다.

In [9]:
atuple = (1, 2, 3, 4, 5)
atuple[0] = 6 # atuple의 0번째 항목에 6 할당
print(atuple)

TypeError: ignored

위와 같이 요소를 바꾸려고 했을 떄, 에러가 발생하는 것을 볼 수 있습니다.