<a href="https://colab.research.google.com/github/dukalee/python/blob/main/01_input_and_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### print()
---
* print() 명령어를 활용하여 파이썬 Console에서 원하는 문장, 또는 값을 출력할 수 있습니다.

In [ ]:
print("Hello, World!")

Hello World!

* 문자열의 경우 홀따옴표('') 또는 쌍따옴표("")로 감싸준 채로 출력합니다.
* 하나의 print() 명령어의 끝에는 줄바꿈(newline, "\n")이 자동으로 포함됩니다.

In [ ]:
print("Double Quotes")
print('Single Quotes')

Double Quotes
Single Quotes

* 숫자는 쌍따옴표, 홀따옴표 없이 출력할 수 있습니다.

In [ ]:
print(3)
print(1.234)

3
1.234

#### Concatenation

* 문자열은 연속해서 print() 명령어 안에 주어주면, 자동으로 결합됩니다.
* 문자열 사이에 + 연산으로 결합해줄 수도 있습니다.

In [ ]:
print("A" "B"    "C")

ABC

In [ ]:
print("A" + "B" + "C")

ABC

* 문자열과 숫자 (다른 데이터)는 결합시킬 수 없습니다. 에러가 발생합니다.

In [ ]:
print("A" 1) # Syntax Error

SyntaxError: ignored

In [ ]:
print("A" + 1) # Type Error

TypeError: ignored

* 문자열과 문자열, 또는 문자열과 다른 데이터는 쉼표(,)를 활용하여 결합할 수 있습니다.
* 단, 결합 시 데이터 사이에 공백(whitespace, 스페이스)가 생깁니다.

In [ ]:
print("A", 1, "B", 2)

A 1 B 2

#### Parameters

* print() 명령어는 자동으로 아래의 두가지 옵션이 붙습니다.
  * <code>sep = " "</code> : 쉼표로 분리되는 데이터는 " " 로 결합합니다.
  * <code>end = "\n"</code> : print 명령어의 마지막에는 줄바꿈(newline, 엔터)를 포함합니다.
* 위 옵션들을 바꿔주어 출력의 형태를 바꿔줄 수 있습니다.

##### sep

In [ ]:
print("A", 1, "B", 2, sep = "[no more space]")

A[no more space]1[no more space]B[no more space]2

In [ ]:
print("A", 1, "B", 2, sep = "")

A1B2

##### end

In [ ]:
print("A")
print("B")

A
B

In [ ]:
print("A", end = "[no more newline]")
print("B")

A[no more newline]B

### input()
---
* input() 명령어를 이용하여 사용자 입력을 받을 수 있습니다.
* 입력을 받은 값은 변수에 저장할 수 있습니다.

In [ ]:
x = input()

user input

In [ ]:
print(x)

user input

* input()의 괄호 안에 특정 문구를 넣어 input prompt를 출력할 수 있습니다.

In [ ]:
x = input("Enter a number : ")
print(x)

Enter a number : 13
13

* input()으로 입력받은 모든 값은 문자열의 형태로 저장됩니다.
  * type() 명령어로 데이터가 어떤 형의 데이터인지 확인할 수 있습니다.

In [ ]:
x = input()
print(type(x))

1234
<class 'str'>

In [ ]:
x = input("Enter a number : ")
y = input("Enter another number : ")
print(x + y)

Enter a number : 12
Enter another number : 34
1234

#### Type Casting
* 데이터의 형태를 특정 명령어들을 통해 변환시킬 수 있습니다.
  * <code>str(data)</code> : data를 문자열로 변환시킵니다.
  * <code>int(data)</code> : data를 정수(integer)로 변환시킵니다.
  * <code>float(data)</code> : data를 실수(float)로 변환시킵니다.

##### str
* str()은 모든 데이터를 문자열의 형태로 변환이 가능합니다.

In [ ]:
a = 12
b = 3.456
print (a + b)

15.456

In [ ]:
print(str(a) + str(b))

11.23.4

##### int
* int()는 숫자(digit)으로만 구성된 문자열을 정수형으로 변환이 가능합니다.
* 실수(float)의 경우에는 소수점을 버린 정수로 변환합니다.

In [ ]:
a = "1"
b = "1.23"
c = 1.23
d = 1.99

In [ ]:
print(int(a))

1

In [ ]:
print(int(b)) # 변환 불가능 (숫자로만 구성되어있지 않음)

ValueError: ignored

In [ ]:
print(int(c))

12

In [ ]:
print(int(d))

3

##### float
* float()은 숫자, 그리고/또는 . 이 하나가 포함된 문자열을 실수로 변환이 가능합니다.
* 정수의 경우에는 .0이 붙은 실수로 변환합니다.

In [ ]:
a = "1"
b = "1.23.4"
c = 12
d = 3.456

In [ ]:
print(float(a))

1.0

In [ ]:
print(float(b))

ValueError: ignored

In [ ]:
print(float(c))

12.0

In [ ]:
print(float(d))

3.456

* input()으로 받을 값 자체를 형변환 명령어로 감싸 정수 또는 실수를 입력받을 수 있습니다.

In [ ]:
x = int(input())
y = int(input())
print(x + y)

12
34
46